PORT=3000
DATABASE_URL=postgresql://user:password@host:5432/database
JWT_SECRET=ganti_dengan_string_random_panjang_minimal_32_karakter
JWT_EXPIRES_IN=3600
CORS_ORIGIN=https://injektorzyecitedz.vercel.app
NODE_ENV=production
